__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
env.bak/
venv.bak/

# Environments
.env
.env.local
.venv
venv/
ENV/
env/
env.bak/
venv.bak

# local SQLite database
*.sqlite3

# Flask-SQLAlchemy database
*.db

**/migrations/

