{% extends "base.html" %} {% block title %} Create Recipe - Dish Discovery {% endblock %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}" /> {% endblock %} {% block content %}
<div class="container">
  <h1>Create a New Recipe</h1>
  <div class="tab-container">
    <!-- Tab navigation -->
    <div class="tab-navigation">
      <button class="tab-button active" data-tab="tab-title">Title</button>
      <button class="tab-button" data-tab="tab-description">Description</button>
      <button class="tab-button" data-tab="tab-ingredients">Ingredients</button>
      <button class="tab-button" data-tab="tab-instructions">Instructions</button>
      <button class="tab-button" data-tab="tab-image">Image</button>
      <button class="tab-button" data-tab="tab-category">Category</button>
    </div>

    <!-- Tab content -->
    <form id="recipeForm" action="/new_recipe" method="POST" enctype="multipart/form-data">
      <div class="tab-content">
        <div class="tab-pane active" id="tab-title">
          <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required />
          </div>
          <button type="button" class="next-tab-btn btn btn-primary" data-tab="tab-description">Next</button>
        </div>
        <div class="tab-pane" id="tab-description">
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Description" required />
          </div>
          <button type="button" class="prev-tab-btn btn btn-secondary" data-tab="tab-title">Previous</button>
          <button type="button" class="next-tab-btn btn btn-primary" data-tab="tab-ingredients">Next</button>
        </div>
        <div class="tab-pane" id="tab-ingredients">
          <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients:</label>
            <textarea
              class="form-control"
              id="ingredients"
              name="ingredients"
              placeholder="Ingredients"
              rows="10"
              required
            ></textarea>
          </div>
          <button type="button" class="prev-tab-btn btn btn-secondary" data-tab="tab-description">Previous</button>
          <button type="button" class="next-tab-btn btn btn-primary" data-tab="tab-instructions">Next</button>
        </div>
        <div class="tab-pane" id="tab-instructions">
          <div class="mb-3">
            <label for="instructions" class="form-label">Instructions:</label>
            <textarea
              class="form-control"
              id="instructions"
              name="instructions"
              placeholder="Instructions"
              rows="10"
              required
            ></textarea>
          </div>
          <button type="button" class="prev-tab-btn btn btn-secondary" data-tab="tab-ingredients">Previous</button>
          <button type="button" class="next-tab-btn btn btn-primary" data-tab="tab-image">Next</button>
        </div>
        <div class="tab-pane" id="tab-image">
          <div class="mb-3">
            <label for="image_file" class="form-label">Image:</label>
            <input type="file" class="form-control" id="image_file" name="image_file" />
          </div>
          <button type="button" class="prev-tab-btn btn btn-secondary" data-tab="tab-instructions">Previous</button>
          <button type="button" class="next-tab-btn btn btn-primary" data-tab="tab-category">Next</button>
        </div>
        <div class="tab-pane" id="tab-category">
          <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select class="form-control" id="category" name="category" required>
              <option value="">Select Category</option>
              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
              {% endfor %}
            </select>
            <input type="hidden" id="category_id" name="category_id" />
          </div>
          <button type="button" class="prev-tab-btn btn btn-secondary" data-tab="tab-image">Previous</button>
          <button id="submitBtn" type="submit" class="btn btn-primary">Create Recipe</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='js/create.js') }}"></script>
{% endblock %}
