{% extends "base.html" %} {% block title %} Edit Recipe - Dish Discovery {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Edit Recipe</h1>
      <form action="{{ url_for('recipe.edit_recipe', recipe_id=recipe.id) }}" method="post">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" name="title" value="{{ recipe.title }}" required />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description" name="description" rows="4" required>{{ recipe.description }}</textarea>
        </div>
        <div class="form-group">
          <label for="ingredients">Ingredients:</label>
          <textarea class="form-control" id="ingredients" name="ingredients" rows="4" required>{{ recipe.ingredients }}</textarea>
        </div>
        <div class="form-group">
          <label for="instructions">Instructions:</label>
          <textarea class="form-control" id="instructions" name="instructions" rows="6" required>
{{ recipe.instructions }}</textarea
          >
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" class="form-control-file" id="image" name="image" />
          {% if recipe.image_url %}
          <img src="{{ recipe.image_url }}" alt="Recipe Image" class="img-fluid mt-2" style="max-width: 100%" />
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    /* Initialize CKEditor for text areas */
    function initializeCKEditor(id) {
      if (CKEDITOR.instances[id]) {
        CKEDITOR.instances[id].destroy(true);
      }
      CKEDITOR.replace(id);
    }

    initializeCKEditor("description");
    initializeCKEditor("ingredients");
    initializeCKEditor("instructions");
  });
</script>
{% endblock %}
