{% extends "base.html" %} {% block title %}Home - Dish Discovery{% endblock %} {% block content %}
<div class="jumbotron">
  {% if current_user.is_authenticated %}
  <h1 class="display-4">Hello, {{ current_user.username }}!</h1>
  <p class="lead">
    Welcome back! It's great to see you again. You're now logged in and ready to explore all the features and functionalities our
    platform has to offer. Whether you're here to discover new recipes, connect with fellow food enthusiasts, or simply browse
    through our latest content, we're here to make your experience seamless and enjoyable. Feel free to dive into your
    personalized dashboard, where you can manage your profile, saved recipes, and preferences effortlessly. If you have any
    questions or need assistance, our support team is just a click away. Happy browsing!
  </p>
  <hr class="my-4" />
  <p>Let's create delicious memories together!</p>
  {% else %}
  <h1 class="display-4">Welcome to Dish Discovery!</h1>
  <p class="lead">
    Welcome to Dish Discovery, where culinary inspiration meets simplicity! Explore a world of flavors with our meticulously
    curated recipes, designed to delight your taste buds and simplify your cooking journey. Whether you're a seasoned chef or a
    kitchen newbie, our step-by-step guides and vibrant visuals make every dish achievable. Join our community of food lovers and
    elevate your home cooking experience today. Sign Up Today to get started.
  </p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('home.about') }}" role="button">Learn more</a>
  {% endif %}
</div>

<!-- Display 10 recipes -->
<div class="container">
  <h2>Recent Recipes</h2>
  <div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4 mb-4">
      <!-- Use col-md-4 to display 3 items in a row -->
      <div class="card">
        <a href="/recipe/{{ recipe.id }}">
          <div class="image-wrapper">
            <!-- Limit the image size -->
            <img
              src="{% if recipe.image_url %}{{ recipe.image_url }}{% else %}/static/img/mother_cooking.svg{% endif %}"
              class="card-img-top"
              alt="{% if recipe.title %}{{ recipe.title }}{% else %}Default Image{% endif %}"
            />
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title"><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></h5>
          <p class="card-text">{{ recipe.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<section class="jumbotron text-center">
  <h1 class="display-4">About Dish Discovery</h1>
  <p class="lead">
    Dish Discovery is a platform for food enthusiasts to discover, share, and explore new dishes from around the world.
  </p>
</section>

<section class="container">
  <h2 class="text-center mb-4">Our Mission</h2>
  <p>Dish Discovery aims to:</p>
  <ul>
    <li>Empower home cooks and professional chefs alike to showcase their culinary creations.</li>
    <li>Provide a platform for sharing recipes, cooking tips, and food-related experiences.</li>
    <li>Connect food lovers from diverse backgrounds to celebrate their shared passion for cuisine.</li>
  </ul>
</section>
<section class="bg-light py-5">
  <div class="container">
    <h2 class="text-center mb-4">Why Choose Dish Discovery?</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Discover New Recipes</h5>
            <p class="card-text">
              Browse a wide variety of recipes from around the world and find inspiration for your next meal.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Share Your Creations</h5>
            <p class="card-text">
              Share your own recipes, cooking techniques, and food experiences with the Dish Discovery community.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Connect with Food Lovers</h5>
            <p class="card-text">
              Connect with other food enthusiasts, exchange ideas, and join discussions about your favorite dishes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h2 class="text-center mb-4">Join the Dish Discovery Community</h2>
  {% if current_user.is_authenticated %}
  <p class="text-center">
    Ready to Create your Recipe?
    <a href="{{ url_for('recipe.create_recipe_page') }}" class="btn btn-primary">Create Recipe</a>
  </p>

  {% else %}
  <p class="text-center">
    Ready to start exploring? <a href="{{ url_for('home.register') }}" class="btn btn-primary">Get Started</a>
  </p>
  {% endif %}
</section>

<!-- Footer Section -->
<footer class="footer bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Dish Discovery is a platform for food enthusiasts to discover, share, and explore new dishes from around the world.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        {% if current_user.is_authenticated %}
        <ul class="list-unstyled">
          <li><a href="{{ url_for('home.logout') }}" class="text-light">Logout</a></li>
          <li><a href="{{ url_for('recipe.create_recipe_page') }}" class="text-light">Create Recipe</a></li>
          <li><a href="{{ url_for('recipe.saved_recipes') }}" class="text-light">Saved Recipes</a></li>
          <li><a href="{{ url_for('recipe.view_all_recipes') }}" class="text-light">All Recipes</a></li>
          <li><a href="{{ url_for('user_profile.user_profile', user_id=current_user.id) }}" class="text-light">My Profile</a></li>
        </ul>
        {% else %}
        <ul class="list-unstyled">
          <li><a href="{{ url_for('home.about') }}" class="text-light">About</a></li>
          <li><a href="{{ url_for('home.register') }}" class="text-light">Sign Up</a></li>
        </ul>
        {% endif %}
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li>Email: stan-edwin-jacky@dishdiscovery.com</li>
          <li>Phone: +254700 00 11 22</li>
          <li>Address: 4455-00100 Nairobi, Kenya</li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="text-center">&copy; 2024 Dish Discovery. All rights reserved.</p>
  </div>
</footer>
{% endblock %}
