{% extends "base.html" %} {% block title %}Home - Dish Discovery{% endblock %} {% block content %}
<div class="jumbotron">
  {% if current_user.is_authenticated %}
  <h1 class="display-4">Hello, {{ current_user.username }}!</h1>
  <p class="lead">
    Dish discovery recommends dishes based on your preferences. You can also add your own dishes to the database.
  </p>
  <hr class="my-4" />
  <p>We are coming live very soon</p>
  {% else %}
  <h1 class="display-4">Welcome to Dish Discovery!</h1>
  <p class="lead">Dish discovery recommends dishes based on your preferences. Sign Up Today to get started.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  {% endif %}
</div>
{% endblock %}
