<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    {% if current_user.is_authenticated %}
    <h1>Welcome, {{ current_user.username }}</h1>
    <div><a href="{{ url_for('home.logout') }}">Logout</a></div>
    {% else %}
    <div><a href="{{ url_for('home.login') }}">Login</a></div>
    <div><a href="{{ url_for('home.register') }}">Register</a></div>
    <h1>Home Page</h1>
    {% endif %}
  </body>
</html>
