{% extends "base.html" %} {% block title %}Recipe - Dish Discovery{% endblock %} {% block styles %}
<link rel="stylesheet" href="../static/css/recipe.css" />
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ recipe.title }}</h1>
      <div class="mb-4">
        <div class="fixed-image">
          <img src="{{ recipe.image_url }}" alt="Recipe Image" class="img-fluid rounded" />
        </div>
      </div>
      <div class="mb-4">
        <h2>Description</h2>
        <p class="lead">{{ recipe.description | safe }}</p>
      </div>
      <div class="mb-4">
        <h2>Ingredients</h2>
        <p>{{ recipe.ingredients | safe | nl2br }}</p>
      </div>
      <div class="mb-4">
        <h2>Instructions</h2>
        <p>{{ recipe.instructions | safe | nl2br }}</p>
      </div>
      <div class="mb-4">
        <h2>Category</h2>
        <p>{{ recipe.category.name }} - {{ recipe.category.description }}</p>
      </div>
      <div class="mb-4"><strong>Posted by:</strong> {{ recipe.user.username }} ({{ recipe.user.email }})</div>

      <h2>Comments</h2>
      {% if recipe.comments %}
      <ul class="list-unstyled">
        {% for comment in recipe.comments %}
        <li class="mb-3">
          <strong>{{ comment.user.username }}</strong>: {{ comment.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
          <hr />
          <p>{{ comment.content | safe | nl2br }}</p>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No comments yet.</p>
      {% endif %}
      <div class="mt-4">
        {% if current_user.is_authenticated and current_user.id == recipe.user_id %}
        <a href="{{ url_for('recipe.edit_recipe', recipe_id=recipe.id) }}" class="btn btn-primary mr-3">Edit Recipe</a>
        <form action="{{ url_for('recipe.delete_recipe', recipe_id=recipe.id) }}" method="post" style="display: inline">
          <button type="submit" class="btn btn-danger">Delete Recipe</button>
        </form>
        {% endif %} {% if current_user.is_authenticated %}
        <form id="save-recipe-form" action="{{ url_for('save_unsave_recipe.save_recipe', recipe_id=recipe.id) }}" method="POST">
          <button type="button" class="btn btn-primary ml-3" id="save-recipe-btn">Save Recipe</button>
        </form>
        <form
          id="unsave-recipe-form"
          action="{{ url_for('save_unsave_recipe.unsave_recipe', recipe_id=recipe.id) }}"
          method="POST"
        >
          <button type="button" class="btn btn-danger ml-3" id="unsave-recipe-btn">Unsave Recipe</button>
        </form>
        <p id="message"></p>
        {% endif %}
      </div>
    </div>
    {% if current_user.is_authenticated %}
    <div class="col-md-4">
      <div class="card sticky-center">
        <div class="card-body">
          <h5 class="card-title">{{ current_user.username }}, please add a comment</h5>
          <form action="{{ url_for('recipe.add_comment', recipe_id=recipe.id) }}" method="post">
            <div class="form-group">
              <textarea class="form-control" name="content" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<script>
  $(document).ready(function () {
    console.log("Document is ready.");
    var is_saved = "{{ recipe.is_saved }}";
    console.log("Is saved:", is_saved);
    console.log("Recipe already saved:", is_saved);

    if (is_saved === "yes") {
      $("#save-recipe-btn").hide();
      $("#unsave-recipe-btn").show();
    } else {
      $("#save-recipe-btn").show();
      $("#unsave-recipe-btn").hide();
    }

    $("#save-recipe-btn").click(function () {
      console.log("Save button clicked.");
      $.ajax({
        url: $("#save-recipe-form").attr("action"),
        type: "POST",
        success: function (response) {
          console.log("Save successful:", response);
          $("#message").text(response.message).css("color", "green");
          $("#save-recipe-btn").hide();
          $("#unsave-recipe-btn").show();
        },
        error: function (response) {
          console.log("Save failed:", response);
          $("#message").text(response.responseJSON.error).css("color", "red");
        },
      });
    });

    $("#unsave-recipe-btn").click(function () {
      console.log("Unsave button clicked.");
      $.ajax({
        url: $("#unsave-recipe-form").attr("action"),
        type: "DELETE",
        success: function (response) {
          console.log("Unsave successful:", response);
          $("#message").text(response.message).css("color", "green");
          $("#unsave-recipe-btn").hide();
          $("#save-recipe-btn").show();
        },
        error: function (response) {
          console.log("Unsave failed:", response);
          $("#message").text(response.responseJSON.error).css("color", "red");
        },
      });
    });
  });
</script>
{% endblock %}
